@import '../../../styles/keyframes';

.content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-color);
  text-align: center;
  position: relative; /* Brings content to the front */
  z-index: 1; /* Ensures content is above the blurred background */
  /* Add styling for your content (e.g., centering, padding, etc.) */
}

.bgImage{
  background-size: cover;
  background-position: center;
  filter: blur(2.4px);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  top: 65px;
  left: 0;
  position: absolute;
  padding: 20px;
  z-index: -1;
}


.title {
  padding-left: .2rem;
  font-size: 2.4rem;
}

.wave {
  animation-name: wave;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.mainTitle {
  font-size: 2.5rem;
  word-spacing: .3rem;
}

.mainName {
  color: var(--txt-sec-darcker);
  text-transform: uppercase;
}

.homeMainIcon {
  display: flex !important;
  width: 40rem;
  min-height: 25rem;
  margin-top: 2rem;
  padding: 0 15px;

  & > img {
    min-width: 230px;
    height: auto;
  }
}

.typewriterWrapper {
  font-size: 2.5em;
  color: var(--typewriter-txt);
  font-weight: 800;
  //font-family: 'Press Start 2P', sans-serif;
}
.typewriterCursor {
  font-size: 2.4em;
  color: var(--typewriter-cursor);
}


@media (max-width: 925px) {
  .content {
    padding: 9rem 3rem 1rem;
    flex-wrap: wrap;
  }
  .homeMainIcon {
    justify-content: center;
    width: 60%;
  }
}
